<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<description>apache shiro配置</description>
	
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="customRealm" />
		<property name="cacheManager" ref="customCacheManager" />
		<property name="sessionManager" ref="sessionManager"/>
		<property name="sessionMode" value="native"/>
	</bean>
	
	<!-- 重写DefaultWebSessionManager，更改sessionId存储cookie -->
	<bean id="sessionManager" class="com.dl.common.framework.shiro.session.DefaultWebSessionManager">
		<!-- 去掉URL中的JSESSIONID ，1.3.2以上版本才修复-->
		<property name="sessionIdUrlRewritingEnabled" value="false" />
	 	<!--默认自动检查session过期，删除过期session-->
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="sessionValidationInterval" value="1800000"/>
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>
    <!-- <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
    </bean> -->
    <bean id="sessionDAO" class="com.dl.common.framework.shiro.session.ShiroSessionDao"/>


	<!-- <bean id="sessionManager" class="com.dl.common.framework.shiro.session.ShiroSessionManager">
		设置全局会话超时时间，默认30分钟，即如果30分钟内没有访问会话将过期 1800000
		<property name="globalSessionTimeout" value="604800000"/>
		定时清理失效会话, 清理用户直接关闭浏览器造成的孤立会话  
		<property name="sessionValidationInterval" value="3600000"/>
		是否开启会话验证器，默认是开启的
		<property name="sessionValidationSchedulerEnabled" value="true"/>
		<property name="sessionIdCookie" ref="simpleCook"/>
		<property name="sessionIdCookieEnabled" value="true"/>
		<property name="sessionDao" ref="sessionDao"/>
	</bean> -->
	<!-- <bean id="sessionDao" class="com.dl.common.framework.shiro.session.ShiroSessionDao">
		<property name=" activeSessionsCacheName" value="shiro-activeSessionCache"/>
	</bean> -->
	

	<!-- 自定义缓存管理器，redis -->
	<bean id="customCacheManager" class="com.dl.common.framework.shiro.CustomCacheManager">
		<!-- <property name="redisService" ref="" /> -->
		<constructor-arg index="0" ref="jedisSrvc" />
	</bean>
	<bean id="customRealm" class="com.dl.common.framework.shiro.CustomRelam">
		<!-- 依赖凭证匹配器 -->
		<!-- <property name="credentialsMatcher" ref="credentialsMatcher"/> -->
		<!--启用缓存，默认关闭 -->
		<property name="cachingEnabled" value="false"/>
		<!--启用身份验证缓存，即缓存AuthenticationInfo，默认false -->
		<property name="authenticationCachingEnabled" value="false"/>
		<!--启用授权缓存，即缓存AuthorizationInfo的信息，默认为false -->
		<property name="authorizationCachingEnabled" value="true"/>
	</bean>

	<!-- 相当于调用 SecurityUtils.setSecurityManager(securityManager) -->
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>

	<!-- 自定义relam -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro的核心安全接口,这个属性是必须的 -->
		<property name="securityManager" ref="securityManager" />
		<!-- loginUrl认证提交地址，如果没有认证将会请求此地址进行认证，请求此地址将由formAuthenticationFilter进行表单认证 -->
		<property name="loginUrl" value="/user/login" />
		<!-- 登录成功后跳转 -->
		<property name="successUrl" value="/user/loginSuccess" />
		<!-- 通过unauthorizedUrl指定没有权限操作时跳转页面 -->
		<property name="unauthorizedUrl" value="/user/noAuth" />
		<!-- shiro连接约束配置,即过滤链的定义 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- 免权限验证 -->
				/user/login = anon
				/user/refreshToken = anon
				/user/updateInfo = anon
				/channel/defaultChannel = anon
				/channel/fullChannel = anon
				/channel/insertChannel = anon
				/channel/userChannel = anon
				/story/insertStory = anon
				/story/storyOutline = anon
				/story/storyContent = anon
				
				<!-- 权限校验 -->
				/story/checkList = anon
				/story/checkStory = anon
				
				<!-- 自定义实现 -->
				/user/logout = myLogout

			</value>
		</property>
	</bean>

	<!-- 退出登录 -->
	<bean name="myLogout" class="com.dl.common.framework.shiro.CustomLogoutFilter">
		<property name="redirectUrl" value="/login" />
	</bean>

	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- AOP式方法级权限检查 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>

	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

</beans>