<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.common.dao.story.impl.StoryDaoImpl">
    <resultMap id="BaseResultMap" type="com.dl.common.model.entity.story.Story" >
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="rootId" property="rootId" jdbcType="VARCHAR" />
		<result column="content1" property="content1" jdbcType="VARCHAR" />
		<result column="color1" property="color1" jdbcType="VARCHAR" />
		<result column="content2" property="content2" jdbcType="VARCHAR" />
		<result column="color2" property="color2" jdbcType="VARCHAR" />
		<result column="content3" property="content3" jdbcType="VARCHAR" />
		<result column="color3" property="color3" jdbcType="VARCHAR" />
		<result column="background" property="background" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="allowShow" property="allowShow" jdbcType="VARCHAR" />
		<result column="isEndingShow" property="isEndingShow" jdbcType="VARCHAR" />
		<result column="clickCount" property="clickCount" jdbcType="VARCHAR" />
		<result column="collectCount" property="collectCount" jdbcType="VARCHAR" />
		<result column="followCount" property="followCount" jdbcType="VARCHAR" />
		<result column="readCount" property="readCount" jdbcType="VARCHAR" />
		<result column="rewardCount" property="rewardCount" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
		
	<resultMap id="storyResultMap" type="com.dl.common.model.app.req.StoryResponse" >
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="rootId" property="rootId" jdbcType="VARCHAR" />
		<result column="content1" property="content1" jdbcType="VARCHAR" />
		<result column="color1" property="color1" jdbcType="VARCHAR" />
		<result column="content2" property="content2" jdbcType="VARCHAR" />
		<result column="color2" property="color2" jdbcType="VARCHAR" />
		<result column="content3" property="content3" jdbcType="VARCHAR" />
		<result column="color3" property="color3" jdbcType="VARCHAR" />
		<result column="background" property="background" jdbcType="VARCHAR" />
		<result column="isEndingShow" property="isEndingShow" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="clickCount" property="clickCount" jdbcType="VARCHAR" />
		<result column="collectCount" property="collectCount" jdbcType="VARCHAR" />
		<result column="followCount" property="followCount" jdbcType="VARCHAR" />
		<result column="readCount" property="readCount" jdbcType="VARCHAR" />
		<result column="rewardCount" property="rewardCount" jdbcType="VARCHAR" />
		<result column="levelNum" property="levelNum" jdbcType="VARCHAR" />
		<result column="parentId" property="parentId" jdbcType="VARCHAR" />
		<result column="parentTitle" property="parentTitle" jdbcType="VARCHAR" />
		<association property="user" javaType="com.dl.common.model.entity.user.User">
			<result column="nickName" property="nickName" jdbcType="VARCHAR" />
			<result column="remark" property="remark" jdbcType="VARCHAR" />
			<result column="imgUrl" property="imgUrl" jdbcType="VARCHAR" />
		</association>
		<collection property="channels" ofType="com.dl.common.model.entity.story.Channel" javaType="ArrayList">
			<result column="channelCode" property="channelCode" jdbcType="VARCHAR" />
			<result column="channelName" property="channelName" jdbcType="VARCHAR" />
		</collection>
	</resultMap> 
	
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
       INSERT INTO tbl_story
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null and id != ''" >id, </if>
			<if test="version != null and version != ''" >version, </if>
			<if test="userId != null and userId != ''" >userId, </if>
			<if test="title != null and title != ''" >title, </if>
			<if test="rootId != null and rootId != ''" >rootId, </if>
			<if test="content1 != null and content1 != ''" >content1, </if>
			<if test="color1 != null and color1 != ''" >color1, </if>
			<if test="content2 != null and content2 != ''" >content2, </if>
			<if test="color2 != null and color2 != ''" >color2, </if>
			<if test="content3 != null and content3 != ''" >content3, </if>
			<if test="color3 != null and color3 != ''" >color3, </if>
			<if test="background != null and background != ''" >background, </if>
			<if test="status != null and status != ''" >status, </if>
			<if test="allowShow != null and allowShow != ''" >allowShow, </if>
			<if test="isEndingShow != null and isEndingShow != ''" >isEndingShow, </if>
			<if test="clickCount != null and clickCount != ''" >clickCount, </if>
			<if test="collectCount != null and collectCount != ''" >collectCount, </if>
			<if test="followCount != null and followCount != ''" >followCount, </if>
			<if test="readCount != null and readCount != ''" >readCount, </if>
			<if test="rewardCount != null and rewardCount != ''" >rewardCount, </if>
			<if test="createTime != null and createTime != ''" >createTime, </if>
			<if test="createTime == null or createTime == ''">createTime, </if> 
			<if test="updateTime != null and updateTime != ''" >updateTime, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null and id != ''" > #{id,jdbcType=VARCHAR}, </if>
			<if test="version != null and version != ''" > #{version,jdbcType=VARCHAR}, </if>
			<if test="userId != null and userId != ''" > #{userId,jdbcType=VARCHAR}, </if>
			<if test="title != null and title != ''" > #{title,jdbcType=VARCHAR}, </if>
			<if test="rootId != null and rootId != ''" > #{rootId,jdbcType=INTEGER}, </if>
			<if test="content1 != null and content1 != ''" > #{content1,jdbcType=VARCHAR}, </if>
			<if test="color1 != null and color1 != ''" > #{color1,jdbcType=VARCHAR}, </if>
			<if test="content2 != null and content2 != ''" > #{content2,jdbcType=VARCHAR}, </if>
			<if test="color2 != null and color2 != ''" > #{color2,jdbcType=VARCHAR}, </if>
			<if test="content3 != null and content3 != ''" > #{content3,jdbcType=VARCHAR}, </if>
			<if test="color3 != null and color3 != ''" > #{color3,jdbcType=VARCHAR}, </if>
			<if test="background != null and background != ''" > #{background,jdbcType=VARCHAR}, </if>
			<if test="status != null and status != ''" > #{status,jdbcType=VARCHAR}, </if>
			<if test="allowShow != null and allowShow != ''" > #{allowShow,jdbcType=VARCHAR}, </if>
			<if test="isEndingShow != null and isEndingShow != ''" > #{isEndingShow,jdbcType=VARCHAR}, </if>
			<if test="clickCount != null and clickCount != ''" > #{clickCount,jdbcType=VARCHAR}, </if>
			<if test="collectCount != null and collectCount != ''" > #{collectCount,jdbcType=VARCHAR}, </if>
			<if test="followCount != null and followCount != ''" > #{followCount,jdbcType=VARCHAR}, </if>
			<if test="readCount != null and readCount != ''" > #{readCount,jdbcType=VARCHAR}, </if>
			<if test="rewardCount != null and rewardCount != ''" > #{rewardCount,jdbcType=VARCHAR}, </if>
			<if test="createTime != null and createTime != ''" > #{createTime,jdbcType=VARCHAR}, </if>
			<if test="createTime == null or createTime == ''">NOW(),</if>
			<if test="updateTime != null and updateTime != ''" > #{updateTime,jdbcType=VARCHAR}, </if>
		 </trim>   
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tbl_story (id,
            version, userId, title, rootId, content1, 
            color1, content2, color2, content3, color3, 
            background, status, allowShow, isEndingShow, clickCount, 
            collectCount, followCount, readCount, rewardCount, createTime, 
            updateTime
        ) VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
        (	
			#{item.id,jdbcType=VARCHAR},
			#{item.version,jdbcType=VARCHAR},  
			#{item.userId,jdbcType=VARCHAR},  
			#{item.title,jdbcType=VARCHAR},  
			#{item.rootId,jdbcType=VARCHAR},  
			#{item.content1,jdbcType=VARCHAR},  
			#{item.color1,jdbcType=VARCHAR},  
			#{item.content2,jdbcType=VARCHAR},  
			#{item.color2,jdbcType=VARCHAR},  
			#{item.content3,jdbcType=VARCHAR},  
			#{item.color3,jdbcType=VARCHAR},  
			#{item.background,jdbcType=VARCHAR},  
			#{item.status,jdbcType=VARCHAR},  
			#{item.allowShow,jdbcType=VARCHAR},  
			#{item.isEndingShow,jdbcType=VARCHAR},  
			#{item.clickCount,jdbcType=VARCHAR},  
			#{item.collectCount,jdbcType=VARCHAR},  
			#{item.followCount,jdbcType=VARCHAR},  
			#{item.readCount,jdbcType=VARCHAR},  
			#{item.rewardCount,jdbcType=VARCHAR},  
			NOW(), 
			#{item.updateTime,jdbcType=VARCHAR} 
        
		)
		</foreach>
    </insert>

	<select id="selectById" resultMap="BaseResultMap">
        SELECT id as ID, 
            version, userId, title, rootId, content1, 
            color1, content2, color2, content3, color3, 
            background, status, allowShow, isEndingShow, clickCount, 
            collectCount, followCount, readCount, rewardCount, createTime, 
            updateTime
        FROM tbl_story
		WHERE id = #{id,jdbcType=VARCHAR}
    </select>
	
	<select id="selectList" resultMap="BaseResultMap">
        SELECT id as ID, 
            version, userId, title, rootId, content1, 
            color1, content2, color2, content3, color3, 
            background, status, allowShow, isEndingShow, clickCount, 
            collectCount, followCount, readCount, rewardCount, createTime, 
            updateTime
        FROM tbl_story
		<where>1=1
            <if test="version != null and version != '' ">and version = #{version} </if>
            <if test="userId != null and userId != '' ">and userId = #{userId} </if>
            <if test="title != null and title != '' ">and title = #{title} </if>
            <if test="rootId != null and rootId != '' ">and rootId = #{rootId} </if>
            <if test="content1 != null and content1 != '' ">and content1 = #{content1} </if>
            <if test="color1 != null and color1 != '' ">and color1 = #{color1} </if>
            <if test="content2 != null and content2 != '' ">and content2 = #{content2} </if>
            <if test="color2 != null and color2 != '' ">and color2 = #{color2} </if>
            <if test="content3 != null and content3 != '' ">and content3 = #{content3} </if>
            <if test="color3 != null and color3 != '' ">and color3 = #{color3} </if>
            <if test="background != null and background != '' ">and background = #{background} </if>
            <if test="status != null and status != '' ">and status = #{status} </if>
            <if test="allowShow != null and allowShow != '' ">and allowShow = #{allowShow} </if>
            <if test="isEndingShow != null and isEndingShow != '' ">and isEndingShow = #{isEndingShow} </if>
            <if test="clickCount != null and clickCount != '' ">and clickCount = #{clickCount} </if>
            <if test="collectCount != null and collectCount != '' ">and collectCount = #{collectCount} </if>
            <if test="followCount != null and followCount != '' ">and followCount = #{followCount} </if>
            <if test="readCount != null and readCount != '' ">and readCount = #{readCount} </if>
            <if test="rewardCount != null and rewardCount != '' ">and rewardCount = #{rewardCount} </if>
            <if test="createTime != null and createTime != '' ">and createTime = #{createTime} </if>
            <if test="updateTime != null and updateTime != '' ">and updateTime = #{updateTime} </if>
		</where>
    </select>
	
    <update id="update" parameterType="com.dl.common.model.entity.story.Story">
        UPDATE tbl_story
        <set>
            <if test="version != null and version != '' "> version = #{version}, </if>
            <if test="userId != null and userId != '' "> userId = #{userId}, </if>
            <if test="title != null and title != '' "> title = #{title}, </if>
            <if test="rootId != null and rootId != '' "> rootId = #{rootId}, </if>
            <if test="content1 != null and content1 != '' "> content1 = #{content1}, </if>
            <if test="color1 != null and color1 != '' "> color1 = #{color1}, </if>
            <if test="content2 != null and content2 != '' "> content2 = #{content2}, </if>
            <if test="color2 != null and color2 != '' "> color2 = #{color2}, </if>
            <if test="content3 != null and content3 != '' "> content3 = #{content3}, </if>
            <if test="color3 != null and color3 != '' "> color3 = #{color3}, </if>
            <if test="background != null and background != '' "> background = #{background}, </if>
            <if test="status != null and status != '' "> status = #{status}, </if>
            <if test="allowShow != null and allowShow != '' "> allowShow = #{allowShow}, </if>
            <if test="isEndingShow != null and isEndingShow != '' "> isEndingShow = #{isEndingShow}, </if>
            <if test="clickCount != null and clickCount != '' "> clickCount = #{clickCount}, </if>
            <if test="collectCount != null and collectCount != '' "> collectCount = #{collectCount}, </if>
            <if test="followCount != null and followCount != '' "> followCount = #{followCount}, </if>
            <if test="readCount != null and readCount != '' "> readCount = #{readCount}, </if>
            <if test="rewardCount != null and rewardCount != '' "> rewardCount = #{rewardCount}, </if>
            <if test="createTime != null and createTime != '' "> createTime = #{createTime}, </if>
            <if test="updateTime != null and updateTime != '' "> updateTime = #{updateTime}, </if>
        </set>
        WHERE id = #{id}
    </update>
	
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE tbl_story
			<set>
				<if test="version != null and version != '' "> version = #{item.version}, </if>
				<if test="userId != null and userId != '' "> userId = #{item.userId}, </if>
				<if test="title != null and title != '' "> title = #{item.title}, </if>
				<if test="rootId != null and rootId != '' "> rootId = #{item.rootId}, </if>
				<if test="content1 != null and content1 != '' "> content1 = #{item.content1}, </if>
				<if test="color1 != null and color1 != '' "> color1 = #{item.color1}, </if>
				<if test="content2 != null and content2 != '' "> content2 = #{item.content2}, </if>
				<if test="color2 != null and color2 != '' "> color2 = #{item.color2}, </if>
				<if test="content3 != null and content3 != '' "> content3 = #{item.content3}, </if>
				<if test="color3 != null and color3 != '' "> color3 = #{item.color3}, </if>
				<if test="background != null and background != '' "> background = #{item.background}, </if>
				<if test="status != null and status != '' "> status = #{item.status}, </if>
				<if test="allowShow != null and allowShow != '' "> allowShow = #{item.allowShow}, </if>
				<if test="isEndingShow != null and isEndingShow != '' "> isEndingShow = #{item.isEndingShow}, </if>
				<if test="clickCount != null and clickCount != '' "> clickCount = #{item.clickCount}, </if>
				<if test="collectCount != null and collectCount != '' "> collectCount = #{item.collectCount}, </if>
				<if test="followCount != null and followCount != '' "> followCount = #{item.followCount}, </if>
				<if test="readCount != null and readCount != '' "> readCount = #{item.readCount}, </if>
				<if test="rewardCount != null and rewardCount != '' "> rewardCount = #{item.rewardCount}, </if>
				<if test="createTime != null and createTime != '' "> createTime = #{item.createTime}, </if>
				<if test="updateTime != null and updateTime != '' "> updateTime = #{item.updateTime}, </if>
			</set>
			WHERE id = #{item.id}
		</foreach>
    </update>
	
    <delete id="deleteById">
        DELETE FROM tbl_story
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>

    <delete id="batchDelete">
		<foreach collection="list" item="item" index="index" separator=";">
			DELETE FROM tbl_story
			WHERE id = #{item.id,jdbcType=VARCHAR}
		</foreach>
    </delete>
	
	<!-- 根据状态查询故事列表 -->
	<select id = "checkList" resultMap="storyResultMap">
		select t1.id as id,t1.userId, t2.nickName,t2.imgUrl as imgUrl,t2.remark as remark ,
			   t1.title, t1.rootId, t1.createTime,t4.title as parentTitle,t3.parentId as parentId,
			   t3.levelNum as levelNum, t1.content1 as content1,t1.color1 as color1,t1.content2 as content2,
			   t1.color2 as color2,t1.content3 as content3,t1.color3 as color3,t5.channelCode as channelCode,
			   t6.channelName as channelName,t1.background as background,t1.isEndingShow as isEndingShow
		from tbl_story t1 
		left join tbl_user t2 on t1.userId = t2.id
		LEFT JOIN tbl_story_outline t3 on t1.id = t3.id
		left join tbl_story t4 on t3.parentId = t4.id
		left join tbl_story_channel t5 on t1.id = t5.storyId
		left join tbl_channel t6 on t5.channelCode = t6.channelCode
		<where>1=1
			<if test="status != null and status != '' ">and t1.status = #{status} </if>
            <if test="allowShow != null and allowShow != '' ">and t1.allowShow = #{allowShow} </if>
		</where> 
		order by t1.createTime desc
		limit #{index},#{pageSize}
	</select>
	
	<!-- 查看故事静态内容 -->
	<select id="getStoryStaticContent" resultMap="BaseResultMap">
		select	id, userId, title, rootId, content1, 
				color1, content2, color2, content3, color3, 
				background,isEndingShow,  createTime
		from tbl_story
		where id = #{id,jdbcType=INTEGER} and status = 2 and allowShow = 1
	</select>
	
	<!-- 查看故事动态内容 -->
	<select id="getStoryDynamicContent" resultMap="storyResultMap">
		select t1.userId as userId,t2.nickName as nickName,t1.clickCount as clickCount,
			t1.collectCount as collectCount,t1.followCount as followCount,
			t1.readCount as readCount,t1.rewardCount as rewardCount,
			t3.channelCode as channelCode
		from tbl_story t1
		left join tbl_user t2 on t1.userId = t2.id
		left join tbl_story_channel t3 on t1.id = t3.storyId
		where t1.id =#{id,jdbcType=INTEGER} and t1.status = 2 and t1.allowShow = 1
	</select>
	
	<!-- 根据用户id，查询待审核、审核失败、审核成功的故事列表 -->
	<select id="selectStoryListByUserAndStatus" resultMap="storyResultMap">
		select t1.id as id,t1.userId, t2.nickName,t2.imgUrl as imgUrl,t2.remark as remark ,
			   t1.title, t1.rootId, t1.createTime,
			    t1.content1 as content1,t1.color1 as color1,t1.content2 as content2,
			   t1.color2 as color2,t1.content3 as content3,t1.color3 as color3,
			   t1.background as background,t1.isEndingShow as isEndingShow
		from tbl_story t1 
		left join tbl_user t2 on t1.userId = t2.id
		where t1.userId = #{userId,jdbcType=VARCHAR} and t1.status = #{status,jdbcType=INTEGER} and t1.allowShow = 1
	</select>
</mapper>